.heatMeterToHorLeft {
  display: flex;
  width: 114px;
  margin-top: 29px;
  transform: rotate(-90deg);
}

.heatMeterToHorRight {
  display: flex;
  width: 114px;
  margin-top: 57px;
  transform: scaleY(-1)rotate(-90deg);
}

.displayNone {
  display: none;
}