.corpus {
  fill: #6d6d6d;
  stroke: #000000;
}

.spring {
  fill: #6d6d6d;
  /*fill: none;*/
  stroke: #000000;
}

.drive {
  fill: #eeeeee;
  stroke: #000000;
}

.impulseTube {
  stroke: #000000;
  fill: none;
}

.green {
  fill: darkgreen;
  stroke: #000000;
  opacity: 0.5;
}