* {
  text-align: center;
}

.scheme {
  background: lightgray;
}

.corpus {
  fill: #6d6d6d;
  stroke: #000000;
  stroke-width: 1;
}

.supPipe {
  fill: #BE1622;
  stroke: #000000;
  stroke-width: 1;
}

.retPipe {
  fill: #009FE3;
  stroke: #000000;
  stroke-width: 1;
}